@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Add {
  width: 80px;
  height: 80px;
  position: absolute; 
  top:-40px; 
  left:48%; 
  z-index:1000;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
  transition: 0.3s;
}

.Add:hover {
  margin-top: 60px;
  box-shadow: 0 3px 9px 3px rgba(51, 51, 51, 0.5);
}

.Sider {
  overflow-x:hidden;
}

.Tag {
  width: 80px;
  height: 80px;
  margin-top: -20px;
  margin-left: 30%;
  opacity: 0.8;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
  transition: 0.3s;
}

.Tag:hover {
  margin-top: -45px;
  margin-bottom: 25px;
  box-shadow: 0 3px 9px 3px rgba(31, 31, 31, 0.5);
}

.Tag1 {
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-left: 30%;
  opacity: 0.8;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
  transition: 0.3s;
}

.Tag1:hover {
  margin-top: 5px;
  margin-bottom: 25px;
  box-shadow: 0 3px 9px 3px rgba(31, 31, 31, 0.5);
}

.TagAdd {
  width: 80px;
  height: 80px;
  margin-top: -20px;
  margin-left: 30%;
  z-index: 1000; 
  opacity: 0.3;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
}

.TagAdd:hover {
  width: 90px;
  height: 90px;
  margin-top: -30px;
  margin-left: 27.5%;
  box-shadow: 0 3px 9px 3px rgba(31, 31, 31, 0.5);
}

.del {
  width: 20px;
  height: 20px;
  z-index: 1000; 
  position: absolute;
  margin-top: -8px;
  margin-left: 71px;
  opacity: 0.6;
}

.del:hover {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
